@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CircularXXSub";
  src: url("../fonts/CircularXXSub-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "CircularXXSub";
  src: url("../fonts/CircularXXSub-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "CircularXXSub";
  src: url("../fonts/CircularXXSub-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "CircularXXSub";
  src: url("../fonts/CircularXXSub-Book.woff2");
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "CircularXXSub";
  background-color: rgba(4, 20, 23, 1);
  color: white;
  font-weight: 300;
}

.meteor {
  position: absolute;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
}

.meteor::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(#fff, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.clip-background {
  background-size: 250% auto;
  background-position: 50% 72%;
}

.above-menu-banner {
  font-size: 0.875rem;
  font-weight: 400;
  justify-content: center;
  display: flex;
  position: relative;
  height: 3rem;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    #fdfd49,
    #e1f943 20%,
    #c5f745 40%,
    #a7f349 60%,
    #86f051 80%,
    #5eeb5c
  );
}
